sudo: required
language: rust
addons:
  apt:
    packages:
      - curl
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
services:
  - docker
before_install:
  - docker-compose up -d
  - rustup component add clippy
  - cargo install -f cargo-travis
  - export PATH=$HOME/.cargo/bin:$PATH;
  - curl --data-binary @tests/create.sql -u 'default:'  http://localhost:8123/default
  - curl --data-binary @tests/main.tsv -u 'default:'  http://localhost:8123/default?query=INSERT%20INTO%20main(i64,u64,i32,u32,i16,u16,i8,u8,f32,f64,title,lcs,mon,d,t,dt64,uuid,e8,e16,ip4,ip6,n,dm1,dm2)%20FORMAT%20TabSeparated
script:
  - cargo build
  - cargo clippy --all-targets
  - cargo test --all --verbose

